.button {
    background-color: #ffe600;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 64px;
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }

    &:active {
        opacity: 0.5;
    }

    &__icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;

        &-icon {
            color: #000000;
            font-size: 32px;
        }
    }

}